@import "./styles/index.scss";

.logout-greeting{
  display: flex;
}

.logout-container {
  display: flex;
  justify-content: flex-end;

  .logout-button {
    @include breakpoint($layout-shift) {
      min-width: auto;
    }
  }
}

.categories {
  margin-top: toRem(20px);
}
