@import "../../styles/index.scss";

.textarea {
  &__control {
    padding: toRem(12px 16px);
    display: block;
    font-size: inherit;
    font-family: inherit;
    width: 100%;
    border-radius: toRem(5px);
    border: solid toRem(1px) var(--color-secondary-light);

    &::placeholder {
      color: var(--color-secondary-light);
      opacity: 0.8;
      font-style: italic;
    }

    @include outline-focus(var(--color-secondary-light));
  }
}
