@import "../../styles/index.scss";

.avatar {
  width: toRem(50px);
  height: toRem(50px);
  position: relative;
  display: flex;
  border: toRem(2px) solid var(--color-secondary-dark);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background-color: var(--color-secondary);
  color: white;

  &__initials {
    padding: toRem(10px);
    position: absolute;
    text-align: center;
    font-size: toRem(25px);
  }
}
